.banner-character {
    /*Add font; will import character name from marvel API */
    background-image: url();
    height: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.img-container-character {
    /*Backgroung image */
    min-width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: url(https://wallpapercave.com/wp/wp4575209.jpg);
    background-position: 50% 25%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}


.flexbox-container-character {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    /*height: flex;
    width: flex;*/
}

.flexbox-item-character {
    /*width: 32%;*/
    margin: 10px;
    margin-bottom: 2%;
    background-color: black;
    opacity: .6;
    color: white;
    font-size: 30px;
}

.item-character {
    height: 30vh;
    flex-shrink: 0;
    padding-bottom: .7%;
}

.flexbox-item-1-character {
    height: 30vh;
    width: 40vw;
    margin-left: 100px;
    margin-right: 100px;
    flex-shrink: 0;
    text-align: center;
    /* align-items: center; */
    /* justify-content: center; */
}

.flexbox-item-2-character {
    height: 30vh;
    width: 70vw;
    opacity: .45;
    background-color: orangered;
}

.flexbox-item-3-character {
    height: 20vh;
    width: 40vw;
}



/*Change positioning to suit character page; This is button to link page*/
.button-container-character button {
    min-width: 109%;
    height: 19%;
    top: 25%;
    left: 23%;
    border: 0;
    border-radius: 50%;
    background: transparent;

}

.button-container-character button img {
    width: 170px;
    height: 186px;
    background-color: transparent;
}