#hero-name{
    background-color: black;
    height: 150px;
    color: white;
    font-size: 112px;
    text-align: center;
    font-weight: bold;
    font-family: fantasy;
    
}

#seen-in {
    font-size: 75px;
    text-align: center;
    color: white;
    font-family: fantasy;
    padding-bottom: 1%;
}

#hero-image{
    padding-left: 250px;
    padding-right: 30px;
    float: left;
    color: white;
    background-color: black;
    opacity: 1.0 !important;
    display: flex;
    
}

#h2 {
    color: white;
    text-align: center;
    font-family: fantasy;
    padding-left:50px;
}

#hero-description{
    font-family: 'Roboto', sans-serif;
    height: 600px;
    padding-top: 30px;
    padding-right: 130px;
    font-size: 46px;
    font-weight: 900; 
    padding-bottom: 150px ;
    margin: 0 auto;
    color: whitesmoke;
    display: flex;
    width: 80vw;
    background-color: black; 
    opacity: .8; 
    padding-top: 100px;
}

body{
    background-color: #777;
    background-image: url(./Assets/images/character\ background.jpg);
    background-size: cover;
}

.carousel-inner{
    width: 500px;
    height: 750px;
}

#carousel{
    width: 500px;
    height: 500px;
    margin: 0 auto;    
}

.carousel-caption {
    -ms-high-contrast-adjust: active;
    color:white !important;
    font-weight: bolder;
    display: flex;
    background-color: indigo;
    opacity: 0.69;
}

#comic-description{
    float: right;
}



