
.banner{
    /*Add font; will import character name from marvel API */
    background-image: url();
    height: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.img-container{
    /*Backgroung image */
    min-width: 100vw;
    min-height: 100vh;
    padding: 5%;
    background-image: url(https://wallpapercave.com/wp/wp4575209.jpg);
    background-position: 50% 25%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.flexbox-container {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    /*height: flex;
    width: flex;*/
}

.flexbox-item {
    /*width: 32%;*/
    margin: 10px;
    margin-bottom: 2%;
    border: 3px solid #333;
    background-color: #544dab;
}
.item {
    width: 20vw;

    flex-shrink: 0;
}

.flexbox-item-1 {
    width: 50vw; 
    margin-left: 100px;
    margin-right: 100px;
    flex-shrink: 0;
}

.flexbox-item-2 {
    height: 300px;
    width: 90vw;
}

.flexbox-item-3 {
    height: 400px;  
    width: 90vw;
}



/*Change positioning to suit character page; This is button to link page*/
.button-container button{
    min-width: 109%;
    height: 19%;
    top: 25%;
    left: 23%;
    border: 0;
    border-radius: 50%;
    background: transparent;

}

.button-container button img{
    width: 170px;
    height: 186px;
    background-color: transparent;
}