.banner-homepage {
    background-image: url(../SDI-Project-1/Assets/images/banner.png);
    height: 15vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.img-container-homepage {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: url(../SDI-Project-1/Assets/images/AvengersPoster.jpeg);
    background-position: 50% 25%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom {
    background-image: url(../SDI-Project-1/Assets/images/banner.png);
    height: 15vh;
    width: 100%;
    background-position: 50% 25%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.search-bar {
    width: 50%;
    height: 100px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff
}

::placeholder {
    color: #ffffff;
}

.search-bar button img {
    width: 60px;
}

.search-bar button {
    display: flex;
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: transparent;
}

.button-container-homepage {
    display: flex;
    background-color: transparent;
    border: none;
    /*object-position: 50% 50%;
    transform: translate(-50%, -50%);*/
    top: 40%;
    left: -23%; 
    padding: 20px 50px;
    font-size: 20px;
    font-weight: bold;
    min-width: 14%;
    height: 30%;
}

.button-container-homepage button {
    min-width: 109%;
    height: 19%;
    top: 25%;
    left: 23%;
    border: 0;
    border-radius: 50%;
    background: transparent;

}

.button-container-homepage button img {
    width: 270px;
    height: 300px;
}

/* .button-container-homepage button img {
    width: 170px;
    height: 186px;
    background-color: transparent;

} */

.box-homepage {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 200px;
}

/* #character-page {
    display: none;
} */
/* #home-page {
    display: none;
} */


